GOOGLE_PROJECT_ID=your-project-id
WHISPER_MODEL_NAME=base
GEMINI_MODEL_ID=gemini-2.0-flash-001

# Optional: To avoid Hugging Face rate limits
HF_TOKEN=your_huggingface_token

# Optional: Path to your Google Cloud service account JSON
# GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service-account.json